@font-face {
    font-family: 'questa_granderegular';
    src: url('/fonts/2-questa_grande_regular_31-webfont.eot');
    src: url('/fonts/2-questa_grande_regular_31-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/2-questa_grande_regular_31-webfont.woff2') format('woff2'),
         url('/fonts/2-questa_grande_regular_31-webfont.woff') format('woff'),
         url('/fonts/2-questa_grande_regular_31-webfont.ttf') format('truetype'),
         url('/fonts/2-questa_grande_regular_31-webfont.svg#questa_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: "steadingomatic";
  src:url("/fonts/steadingomatic.eot");
  src:url("/fonts/steadingomatic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/steadingomatic.woff") format("woff"),
    url("/fonts/steadingomatic.ttf") format("truetype"),
    url("/fonts/steadingomatic.svg#steadingomatic") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "steadingomatic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "steadingomatic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
