@font-face {
    font-family: 'questa_granderegular';
    src: url('/fonts/2-questa_grande_regular_31-webfont.eot');
    src: url('/fonts/2-questa_grande_regular_31-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/2-questa_grande_regular_31-webfont.woff2') format('woff2'),
         url('/fonts/2-questa_grande_regular_31-webfont.woff') format('woff'),
         url('/fonts/2-questa_grande_regular_31-webfont.ttf') format('truetype'),
         url('/fonts/2-questa_grande_regular_31-webfont.svg#questa_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: "steadingomatic";
  src:url("/fonts/steadingomatic.eot");
  src:url("/fonts/steadingomatic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/steadingomatic.woff") format("woff"),
    url("/fonts/steadingomatic.ttf") format("truetype"),
    url("/fonts/steadingomatic.svg#steadingomatic") format("svg");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('/fonts/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('/fonts/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('/fonts/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('/fonts/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('/fonts/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
