$font_header: questa_granderegular, georgia, serif;
$font_body: questa_granderegular, georgia, serif;

$color_1: #002F2F;
$color_2: #046380;
$color_3: #A7A37E;
$color_4: #E6E2AF;
$color_5: #EFECCA;

$background_color: $color_5;
$navbar_background_color: $color_3;
