$font_header: inknut_antiquablack, georgia, serif;
$font_body: inknut_antiquaregular, georgia, serif;
$color_1: #901808;
$color_2: #444444;
$color_3: #D3D4AA;
$color_4: #E7E9D1;
$color_5: #FCFAE6;

$background_color: $color_5;
$navbar_background_color: $color_1;
