@import 'fonts';
@import 'variables';
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font_body;
  color: black;
}

#backbone-override {
  background-color: $background_color;
  color: black;
  #main {
    height: calc(100% - 132px);
    padding: 0 0 60px;
  }
  .jumbotron {
    &.home {
      background-color: $color_4;
      min-height: 70%;
      background-size:     cover;
      background-repeat:   no-repeat;
    }
    p {
      font-family: $font_header;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $font_header;
  }

  .navbar-default {
    .navbar-collapse {
      border: 0;
    }
    .navbar-toggle {
      border-color: $color_1;
      background-color: $color_4;
      .icon-bar {
        background-color: $color_1;
      }
      &:hover {
        background-color: $color_5;
      }
      &:active {
        background-color: $color_5;
      }
      &:focus {
        background-color: $color_5;
      }
    }
  }

  .navbar {
    background-color: $navbar_background_color;
    border: 0px;
    border-bottom: 1px solid $color_2;
    border-radius: 0px;
    margin-bottom: -10px;
    a {
      color: $color_2;
    }
    &.navbar-fixed-bottom {
      border-top: 1px solid $color_3;
      .container {
        padding-top: 5px;
      }
    }

    .navbar-nav {
      border-bottom: 0;
      > li {
        &.active {
          > a, a:focus, a:hover {
                          background-color: $color_1;
                          color: $color_5;
                          border-top-color: $color_1;
                          border-left-color: $color_1;
                          border-right-color: $color_1;

                        }
        }
      }

    }
    .navbar-brand {
      margin-top: -15px;
    }
  }
  .navbar-brand {
    font-family: $font-header;
  }
  .group-header-wrapper {
    text-align: center;
    border-bottom: 2px solid $color_3;
    margin-bottom: 20px;
    h3 {
      position: relative;
      top: 12px;
      display: inline-block;
      background: $background_color;
      padding: 0px 12px;
      margin: 0px;
    }
  }

  ul.hours {
    li {
      list-style-type: none;
      &:first-child {
        font-size: 120%;
      }
    }
  }

  .item-group {
    margin-bottom: 20px;
  }
  .item {
    margin-top: 10px;
    span.name {
      font-size: 1.75rem;
      padding-bottom:0px;
      line-height: 1.8 rem;
      display: inline-block;
      margin-bottom: 10px;
      font-family: $font_header;
    }
    span.description {
      display: block;
    }
  }

  .footer {
    height: 60px;
    padding-top: 5px;
    background-color: $navbar_background_color;
    color: $color_1;
  }

}
