<div class="col-md-12" id="item-<%= _id %>">
  <div class="card">
    <div class="card-block">
      <form>
        <%= JST['app/templates/includes/form_action_bar.html']() %>
        <% if (typeof _id !=='undefined') { %>
        <input type="hidden" name="id" value="<%= _id %>"/>
        <% } %>

        <div class="form-group">
          <label for="name">Name</label>
          <div class="input-group">
            <input class="form-control" name="name" value="<%=name%>">
            <span class="fa fa-question input-group-addon random"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" name="description"><%= description %></textarea>
        </div>
        <% _.each( {population: population, prosperity: prosperity, defenses: defenses}, function(value, key) { %>
        <div class="form-group">
          <label for="<%= key %>"><%= _.titleize(key) %></label>
          <select id="<%= key %>" name="<%= key %>" class="selectpicker form-control btn-primary">
            <% _.each(enums[key], function(p) { %>
            <option <%= p.key == value ? 'selected' : '' %> value="<%= p.key %>"><%= p.key %></option>
            <% }); %>
          </select>
        </div>
        <% }) %>
        <div class="form-group">
          <div class="input-group">
            <span class="fa fa-question input-group-addon random-symbol"></span>
            <%= JST['app/templates/includes/icon_display.html']({icon: icon, colors: colors, title: name, subtitle: size}) %>
            <input type="color" id="colors-icon" name="colors[icon]" value="<%= colors.icon %>">
            <input type="color" id="colors-background" name="colors[background]" value="<%= colors.background %>">
            <select id="iconList" name="icon" class="selectpicker">
              <% _.each(iconList, function(i, char) { %>
              <option <%= icon == i ? 'selected' : '' %> data-icon="icon-<%= i %>" value="<%= i %>"><%= i %></option>
              <% }); %>
            </select>
          </div>
        </div>
        <div class="form-group" id="tag-list">
          <% _.each(enums.tags, function(tag, index) { %>
          <% selectedTag = _.find(tags, function(t) { return t.tag == tag.key }) %>
          <div role="tab" class="tag-panel" id="panel<%= tag.key %>">
            <label for="<%= tag.key %>">
              <input class="tag-checkbox" type="checkbox" <%= selectedTag ? 'checked' : '' %> name="tags[<%= index %>][tag]" value="<%= tag.key %>">
              <a role="button" class="collapsed"  data-toggle="collapse"  href="#collapse-<%= index %>"> <%= tag.key %></a>
            </label>
            <div class="tag-description <%= selectedTag ? '' : 'collapse' %>" id="collapse-<%= index %>">
              <small><%= tag.description %></small>
              <textarea class="form-control tag-details" name="tags[<%= index %>][details]" placeholder="details"><%= selectedTag ? selectedTag.details : '' %></textarea>
            </div>
          </div>
          <% }); %>
        </div>
        <%= JST['app/templates/includes/form_action_bar.html']() %>
      </form>
    </div>
  </div>
</div>
