<div class="list-item col-md-12 item" id="item-<%= _id %>" data-id="<%= _id %>">
  <div class="card">
    <div class="card-block">
      <%= JST['app/templates/includes/action_bar.html']() %>
      <%= JST['app/templates/includes/title.html']({icon: icon, colors: colors, title: name, subtitle: size}) %>
      <p><%= description %></p>
      <div class="collapse more-info">
        <dl class="clearfix">
          <% _.each({'population': population, 'prosperity': prosperity, 'defenses': defenses}, function(object, type) { %>
          <dt class="col-sm-4 text-right">
            <%= _.titleize(type) %>
          </dt>
          <dd class="col-sm-8">
            <%= object %>
            <br/>
            <small><%= _.find(enums[type], function(e) { return e.key == object }).description %></small>
          </dd>
          <% }) %>
          <% _.each(tags, function(tag) { %>
          <dt class="col-sm-4 text-right"><%= tag.tag %></dt>
          <dd class="col-sm-8">
            <%= tag.details %>
            <%= _.find(enums.tags, function(e) { return e.key == tag.tag }).details %>
          </dd>
          <% }); %>
        </dl>
      </div>
    </div>
  </div>
</div>
