<div class="media">
  <div class="media-left media-top steading-icon-list icon-<%= icon %>" style="color: <%= colors.secondary %>; background-color: <%= colors.main %>;">
  </div>
  <div class="media-body">
    <div class="media-heading">
      <h3>
        <%= name %>
      </h3>
      <div class="btn-toolbar">
        <button class="btn btn-default glyphicon glyphicon-eye-open"></button>
        <button class="btn btn-default glyphicon glyphicon-pencil"></button>
        <button class="btn btn-default glyphicon glyphicon-duplicate"></button>
        <button class="btn btn-danger glyphicon glyphicon-remove"></button>
      </div>
    </div>


    <dl class="dl-horizontal">
      <dt>Size</dt>
      <dd><%= size %></dd>
      <dt>Population</dt>
      <dd><%= population %></dd>
      <dt>Prosperity</dt>
      <dd><%= prosperity %></dd>
      <dt>Defenses</dt>
      <dd><%= defenses %></dd>
      <dt>Additional Tags</dt>
      <dd><%= tags.join(', ') %></dd>
    </dl>
  </div>
</div>
