extends ../layout

block content
    h1.display-1 Fronts
    .app
      .btn-toolbar
        button.btn.btn-sm.btn-primary.action-add-adventure
          span.fa.fa-plus 
          | &nbsp;Adventure
        button.btn.btn-sm.btn-primary.action-add-campaign
          span.fa.fa-plus 
          | &nbsp;Campaign        
      .list.row
