extends ../layout

block content
  .container 
    h1 Fronts
    .app
      .btn-toolbar
        button(class='btn btn-sm btn-default action-add-adventure') Add Adventure Front
        button(class='btn btn-sm btn-default action-add-campaign') Add Campaign Front
      .list.row
