extends ../layout

block content
  h1.display-1 Steadings
  .app  
    .btn-toolbar
      .btn-group
        button.btn.btn-sm.btn-primary.action-add-village
          span.fa.fa-plus 
          | &nbsp;Village
        button.btn.btn-sm.btn-primary.action-add-town
          span.fa.fa-plus 
          | &nbsp;Town
        button.btn.btn-sm.btn-primary.action-add-city 
          span.fa.fa-plus 
          | &nbsp;City
        button.btn.btn-sm.btn-primary.action-add-keep 
          span.fa.fa-plus 
          | &nbsp;Keep
    .list.row
      
