extends ../layout

block content
  .container 
    h1 Steadings
    .app
      .btn-toolbar
        button(class='btn btn-default action-add-village') Add Village
        button(class='btn btn-default action-add-town') Add Town
        button(class='btn btn-default action-add-city') Add City
        button(class='btn btn-default action-add-keep') Add Keep
      
      