extends ../layout

block content
  h1.display-1 Steadings
  .app
    .btn-toolbar
      button(class='btn btn-sm btn-primary action-add-village') Add Village
      button(class='btn btn-sm btn-primary action-add-town') Add Town
      button(class='btn btn-sm btn-primary action-add-city') Add City
      button(class='btn btn-sm btn-primary action-add-keep') Add Keep
    
      
