<div class="container" id="item-<%= _id %>">
  <form>
    <div class="container">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input class="form-control" name="name" value="<%=name%>">
          <span class="fa fa-question input-group-addon random"></span>
        </div>
      </div>
      <% _.each(dangers, function(danger, index) { %>
      <div class="media">
        <div class="media-left media-top danger-icon-list icon-<%= danger.icon %>" style="color: <%= danger.colors.icon %>; background-color: <%= danger.colors.background %>;">
        </div>
        <div class="media-body">
          <div class="form-group">
            <label for="icon">Icon</label>
            <select id="iconList" name="dangers[<%= index %>][icon]" class="selectpicker form-control">
              <% _.each(iconList, function(i, char) { %>
              <option <%= danger.icon == i ? 'selected' : '' %> data-icon="icon-<%= i %>" value="<%= i %>"><%= i %></option>
              <% }); %>
            </select>
          </div>
          <div class="form-group">
            <label for="colors.background">Background Color</label>
            <input type="color" id="colors.background" name="dangers[<%= index %>][colors][background]" value="<%= danger.colors.background %>">
            <label for="colors.icon">Icon Color</label>
            <input type="color" id="colors.icon" name="dangers[<%= index %>][colors][icon]" value="<%= danger.colors.icon %>">
          </div>
          <div class="form-group">
            <label for="danger-name" class="text-capitalize">Name</label>
            <div class="input-group">
              <input class="form-control" name="dangers[<%= index %>][name]" value="<%= danger['name'] %>">
              <span class="fa fa-question input-group-addon random" data-field="danger_name"></span>
            </div>
          </div>
          <% _.each(['type', 'subtype', 'impulse', 'doom'], function(type) { %>
          <div class="form-group">
            <label for="danger-<%= type %>" class="text-capitalize"><%= type %></label>
            <input class="form-control" name="dangers[<%= index %>][<%= type %>]" value="<%= danger[type] %>">
          </div>
          <% }) %>
        </div>
      </div>
      <% }); %>
      <% _.each([{name: 'portent', object: portents, plural: 'portents', label:'Grim Portents'}, {name: 'stake', object: stakes, plural: 'stakes', label: 'Stakes'}, {name: 'castMember', object: cast, plural: 'cast', label: 'Cast'}], function(section) { %>
      <div class="form-group">
        <label for="<%= section.name %>-list">
          <span class="add-<%= section.name %> fa fa-plus"></span>
          <%= section.label %>
        </label>
        <div class="<%= section.name %>-list">
          <ul class="input-list list-unstyled" data-list="<%= section.plural %>">
            <% _.each(section.object, function(item, index) {  %>
            <li>
              <div class="input-group">
                <span class="handle fa fa-bars input-group-addon"></span>
                <input class="form-control section-<%= section.plural %>" name="<%= section.plural %>[<%= index %>]" value="<%= item %>">
              </div>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
      <% }) %>
      <button class="btn btn-default action-done">Done</button>
    </div>
  </form>
</div>
