<div class="container" id="item-<%= _id %>">
  <div class="col-md-2 pull-right">
    <div class="btn-group pull-right">
      <button class="action-edit btn btn-default glyphicon glyphicon-pencil"></button>
      <button class="action-duplicate btn btn-default glyphicon glyphicon-duplicate"></button>
      <button class="action-delete btn btn-danger glyphicon glyphicon-remove"></button>
    </div>
  </div>
  <h3>
    <%= name %>
    <small><%= type %></small>
  </h3>
  <p><%= description %></p>
  <div class="front-details">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Dangers</h4>
        </div>
        <div class="panel-body">
          <% _.each(dangers, function(danger) { %>
          <div class="media">
            <div class="media-left media-top danger-icon-list icon-<%= danger.icon %>" style="color: <%= danger.colors.icon %>; background-color: <%= danger.colors.background %>;">
            </div>
            <div class="media-body">
              <div class="media-heading">
                <h5>
                  <%= danger.name %>
                  <small><%= danger.type %></small>
                </h5>
              </div>
              <dl class="dl-horizontal">
                <dt>Impulse</dt><dd><%= danger.impulse %></dd>
                <dt>Impending Doom</dt><dd><%= danger.doom %></dd>
              </dl>
              <p><%= danger.description %></p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Portents</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% _.each(portents, function(portent) { %>
            <li class="list-group-item"><%= portent %></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Stakes</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% _.each(stakes, function(stake) { %>
            <li class="list-group-item"><%= stake %></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Cast</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% _.each(cast, function(castMember) { %>
            <li class="list-group-item"><%= castMember %></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
