extends layout

block content
  .jumbotron.home
      h1 Steading-O-Matic
      p.lead  
        | A tool for 
        a(href='http://www.dungeon-world.com/', target='_BLANK') Dungeon World 
        | GMs to create and maintain steadings and fronts.
  .app
